body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #006400;
    text-align: center;
    margin: 20px 0;
}

#new-player {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 500px;
}

#new-player input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#new-player button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    cursor: pointer;
}

#new-player button:hover {
    background-color: #00a500;
    color: white;
}

#return {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 500px;
}

#return button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

#return button:hover {
    background-color: #00a500;
    color: white;
}