body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: #006400;
    text-align: center;
    margin: 20px 0;
}

#players {
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #cccccc;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.player {
    width: 100px;
    height: 100px;
    background-color: #ffd700;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.player.selected {
    background-color: #006400;
    color: white;
}

.player.selected::before {
    content: "\2713";
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}

.player label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    color: #964b00;
}

#new-player {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 500px;
}

#start-game {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 500px;
}

#return {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 500px;
}

#new-player input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#new-player button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    cursor: pointer;
}

#new-player button:hover {
    background-color: #00a500;
    color: white;
}

#start-game button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

#start-game button:hover {
    background-color: #00a500;
    color: white;
}


#return button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

#return button:hover {
    background-color: #00a500;
    color: white;
}