body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: #006400;
    text-align: center;
    margin: 20px 0;
}

.container {
    margin: 20px auto;
    width: 500px;
}

.question {
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
}

.question h2 {
    color: #006400;
}

.answer-btn {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.answer-btn:hover {
    background-color: #00a500;
}

.answer {
    display: none;
    margin-top: 10px;
}

.answer.show {
    display: block;
    color: #964b00;
}

.heart {
    color: #ff4136;
    font-size: 20px;
    margin-right: 5px;
}

.lives {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.player h3 {
    margin: 0;
    color: #964b00;
}

.player button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.player button:hover {
    background-color: #00a500;
    color: white;
}

.player {
    width: 200px;
    height: 200px;
    background-color: #ffd700;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
}

.count {
    font-size: 18px;
    color: #964b00;
}

.validate {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
}

.validate:hover {
    background-color: #00a500;
    color: white;
}