body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #006400;
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #ffd700;
    color: #964b00;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-weight: bold;
}

button:hover {
    background-color: #ffa500;
    color: white;
}

#score {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* Responsive design for mobile devices */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    button {
        width: 100%;
    }
}